global
    log /dev/log local0
    maxconn 2000

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend k8s-api
    bind 10.8.30.40:6443
    mode tcp
    default_backend k8s-api-backend

backend k8s-api-backend
    mode tcp
    balance roundrobin
    option tcp-check
    server cp01 10.8.30.30:6443 check
    server cp02 10.8.30.31:6443 check
    server cp03 10.8.30.32:6443 check
